* {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: 30px;
}

body {
  background-color: #222222;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.App {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s linear;
}

.visible {
  opacity: 1;
}

.icon {
  width: 32px;
  height: 32px;
  fill: white;
  cursor: pointer;
}

.info-container {
  display: flex;
  justify-content: space-between;
  color: white;
}
